In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
Lou = pd.read_csv(os.path.join("C:\\Users\\kam52\\OneDrive\\Desktop\\DA2\\Comparing-Crime-LouisvilleKY-MemphisTN\\Louisville_Metro_KY_-_Crime_Data_2022.csv"),
                 parse_dates=['DATE_REPORTED'], usecols = ['DATE_REPORTED', 'CRIME_TYPE'])
Lou

            DATE_REPORTED              CRIME_TYPE
0     2022-01-01 09:10:00                 ASSAULT
1     2022-01-01 00:26:00               VANDALISM
2     2022-01-01 00:56:00  VEHICLE BREAK-IN/THEFT
3     2022-01-01 01:14:00               VANDALISM
4     2022-01-01 01:21:00                BURGLARY
...                   ...                     ...
56323 2022-10-17 14:47:00           THEFT/LARCENY
56324 2022-10-17 15:30:00                 ASSAULT
56325 2022-10-17 15:31:00                   OTHER
56326 2022-10-17 15:14:00                   FRAUD
56327 2022-10-17 16:00:00                 ROBBERY

[56328 rows x 2 columns]

In [3]:
Lou.dtypes

DATE_REPORTED    datetime64[ns]
CRIME_TYPE               object
dtype: object

In [ ]:
#Remove null values

In [11]:
Lou = Lou.dropna()

In [ ]:
#Seperate date and time

In [4]:
Lou['DATE'] = [d.date() for d in Lou['DATE_REPORTED']]
Lou['TIME'] = [d.time() for d in Lou['DATE_REPORTED']]
Lou

            DATE_REPORTED              CRIME_TYPE        DATE      TIME
0     2022-01-01 09:10:00                 ASSAULT  2022-01-01  09:10:00
1     2022-01-01 00:26:00               VANDALISM  2022-01-01  00:26:00
2     2022-01-01 00:56:00  VEHICLE BREAK-IN/THEFT  2022-01-01  00:56:00
3     2022-01-01 01:14:00               VANDALISM  2022-01-01  01:14:00
4     2022-01-01 01:21:00                BURGLARY  2022-01-01  01:21:00
...                   ...                     ...         ...       ...
56323 2022-10-17 14:47:00           THEFT/LARCENY  2022-10-17  14:47:00
56324 2022-10-17 15:30:00                 ASSAULT  2022-10-17  15:30:00
56325 2022-10-17 15:31:00                   OTHER  2022-10-17  15:31:00
56326 2022-10-17 15:14:00                   FRAUD  2022-10-17  15:14:00
56327 2022-10-17 16:00:00                 ROBBERY  2022-10-17  16:00:00

[56328 rows x 4 columns]

In [5]:
Lou.dtypes

DATE_REPORTED    datetime64[ns]
CRIME_TYPE               object
DATE                     object
TIME                     object
dtype: object

In [ ]:
#fix date column type

In [6]:
Lou["DATE"] = pd.to_datetime(Lou["DATE"])
Lou.dtypes

DATE_REPORTED    datetime64[ns]
CRIME_TYPE               object
DATE             datetime64[ns]
TIME                     object
dtype: object

In [ ]:
#drop columns that wont be used

In [7]:
Lou.drop(["DATE_REPORTED", "TIME"], axis=1, inplace=True)    
Lou

                   CRIME_TYPE       DATE
0                     ASSAULT 2022-01-01
1                   VANDALISM 2022-01-01
2      VEHICLE BREAK-IN/THEFT 2022-01-01
3                   VANDALISM 2022-01-01
4                    BURGLARY 2022-01-01
...                       ...        ...
56323           THEFT/LARCENY 2022-10-17
56324                 ASSAULT 2022-10-17
56325                   OTHER 2022-10-17
56326                   FRAUD 2022-10-17
56327                 ROBBERY 2022-10-17

[56328 rows x 2 columns]

In [ ]:
#Rename the column to match another df column

In [8]:
lou2 = Lou.rename({'CRIME_TYPE': 'CATEGORY'}, axis=1)
lou2

                     CATEGORY       DATE
0                     ASSAULT 2022-01-01
1                   VANDALISM 2022-01-01
2      VEHICLE BREAK-IN/THEFT 2022-01-01
3                   VANDALISM 2022-01-01
4                    BURGLARY 2022-01-01
...                       ...        ...
56323           THEFT/LARCENY 2022-10-17
56324                 ASSAULT 2022-10-17
56325                   OTHER 2022-10-17
56326                   FRAUD 2022-10-17
56327                 ROBBERY 2022-10-17

[56328 rows x 2 columns]

In [ ]:
#organize crimes into 2 categories based on type of crime

In [9]:
for index in lou2.index:
    if lou2.loc[index,'CATEGORY']=='ASSAULT':
        lou2.loc[index,'CATEGORY'] = 'Major Violent Crime'
    elif lou2.loc[index,'CATEGORY']=='ROBBERY':
        lou2.loc[index,'CATEGORY'] = 'Major Violent Crime'
    elif lou2.loc[index,'CATEGORY']=='SEX CRIMES':
        lou2.loc[index,'CATEGORY'] = 'Major Violent Crime'
    elif lou2.loc[index,'CATEGORY']=='HOMICIDE':
        lou2.loc[index,'CATEGORY'] = 'Major Violent Crime'
    elif lou2.loc[index,'CATEGORY']=='VEHICLE BREAK-IN/THEFT':
        lou2.loc[index,'CATEGORY'] = 'Major Property Crime'
    elif lou2.loc[index,'CATEGORY']=='BURGLARY':
        lou2.loc[index,'CATEGORY'] = 'Major Property Crime'
    elif lou2.loc[index,'CATEGORY']=='ARSON':
        lou2.loc[index,'CATEGORY'] = 'Major Property Crime'
    elif lou2.loc[index,'CATEGORY']=='MOTOR VEHICLE THEFT':
        lou2.loc[index,'CATEGORY'] = 'Major Property Crime'
    elif lou2.loc[index,'CATEGORY']=='THEFT/LARCENY':
        lou2.loc[index,'CATEGORY'] = 'Major Property Crime'
    elif lou2.loc[index,'CATEGORY']=='VANDALISM':
        lou2.loc[index,'CATEGORY'] = 'Other'    
    elif lou2.loc[index,'CATEGORY']=='DRUGS/ALCOHOL VIOLATIONS':
        lou2.loc[index,'CATEGORY'] = 'Other'
    elif lou2.loc[index,'CATEGORY']=='DISTURBING THE PEACE':
        lou2.loc[index,'CATEGORY'] = 'Other'
    elif lou2.loc[index,'CATEGORY']=='FRAUD':
        lou2.loc[index,'CATEGORY'] = 'Other' 
    elif lou2.loc[index,'CATEGORY']=='WEAPONS':
        lou2.loc[index,'CATEGORY'] = 'Other'    
    elif lou2.loc[index,'CATEGORY']=='DUI':
        lou2.loc[index,'CATEGORY'] = 'Other'

In [10]:
print(lou2)

                   CATEGORY       DATE
0       Major Violent Crime 2022-01-01
1                     Other 2022-01-01
2      Major Property Crime 2022-01-01
3                     Other 2022-01-01
4      Major Property Crime 2022-01-01
...                     ...        ...
56323  Major Property Crime 2022-10-17
56324   Major Violent Crime 2022-10-17
56325                 OTHER 2022-10-17
56326                 Other 2022-10-17
56327   Major Violent Crime 2022-10-17

[56328 rows x 2 columns]